/* Structure de la page */
body {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  background-color: white;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: white;
  padding: 20px 50px;
  background-image: url(/src/assets/img/image-header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: white;
  margin: 0;
}

#menu-icon {
  float: right;
  color: white;
}

.titre-header {
  color: white;
  text-align: center;
}

/* Section une */
.une, .deux, .cerise, .orange {
  text-align: center;
  /* padding: 20px; */
}

.une img, .deux img {
  width: 100%;
  max-width: 100%;
}

/* Section cerise et orange avec fond */
.cerise {
  background-image: url(/src/assets/img/cerise.jpg);
   /* Pour afficher l'image en entier */
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;
  color: white;
  width: 1200px;   /* Définit la largeur de la div à 200 pixels */
  height: 1000px;
}

.orange {
  background-image: url(/src/assets/img/orangeb.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;
  color: white;
  width: 1200px;   /* Définit la largeur de la div à 200 pixels */
  height: 1000px;
}

/* Footer */
footer .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

footer .contact .contact-item {
  margin: 20px 0;
  text-align: center;
}

footer .contact img {
  width: 100%;
  max-width: 150px;
  border-radius: 50%;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  header {
    padding: 10px 20px;
  }
  .navbar__links {
    flex-direction: column;
    text-align: center;
  }
  .navbar__item {
    margin: 5px 0;
  }
}                                     
  .four-images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh; /* Hauteur de la fenêtre d'affichage */
  }

  .sect {
    flex: 50%; /* Prend 50% de la largeur du conteneur parent */
    height: 50%; /* Prend 50% de la hauteur du conteneur parent */
    box-sizing: border-box; /* Inclut les bordures et le padding dans les dimensions */
  }